@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, 'Proxima Nova', 'Montserrat', sans-serif;
}

.line-break {
  white-space: pre-wrap;
  line-height: 1;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
/* same color as purple-500  */
.dark {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
  --card: 224 71.4% 4.1%;
  --card-foreground: 210 20% 98%;
  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;

  /* Set primary and accents to purple-500 */
  --primary: 271 91% 65%;
  --primary-foreground: 210 20% 98%;
  --accent: 271 91% 65%;
  --accent-foreground: 210 20% 98%;

  /* You may also choose to change secondary and muted if desired */
  --secondary: 271 91% 65%;
  --secondary-foreground: 210 20% 98%;
  --muted: 271 91% 65%;
  --muted-foreground: 210 20% 98%;
  
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 20% 98%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --ring: 271 91% 65%;

  /* Update chart colors as needed to complement purple-500 */
  --chart-1: 271 91% 65%;
  --chart-2: 271 91% 50%;
  --chart-3: 271 91% 75%;
  --chart-4: 271 91% 60%;
  --chart-5: 271 91% 55%;
}

}




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  ul {
    @apply list-circle;
  }
  blockquote {
    @apply border-l-4 border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 pl-4 rounded-md;
  }
  pre {
    @apply border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 p-4 my-4 rounded-md font-mono text-sm overflow-x-auto;
  }
}

@layer components {
  .list-circle {
    list-style-type: circle;
  }
}
